#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
Options +Indexes
RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /explore/
RewriteRule ^([A-Za-z0-9_/.-]+)?/?$ index.php?p=$1
